@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
	.news-description{
		width: 100%;
		font-size: 9pt;
		margin: 0;
		padding: 110px 20px 0px 20px;
		height: 335px;
	}
	
	.section-col{
		height: 170px;
	}
	
	.sections-row{
		padding-top: 20px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.row .nav-bar-democrat ul li{
		display: inline;
		padding: 8px 8px 8px 8px;
		list-style-type: none;
	}
	
	.inner-news-block{
		float: left;
		width: 33%;
	}
	
	.news-box, .news-description{
		height: 345px;
	}
	
	.news-description{
		font-size: 90%;
		padding: 120px 15px 0px 15px;
	}
	
	.news-box .button{
		padding: 5px;
		width: 120px;
	}
	
	.feature-row .feature-box .feature-inner-box .feature-description{
		width: 100%;
		font-size: .8em;
		padding: 145px 5px 20px 5px;
		margin: 0;
	}
		
	.section-col{
		height: 120px;
	}
	
	.section-box{
		height: 120px;
	}

}

@media (min-width: 480px) and (max-width: 767px) {
	.row .nav-bar-democrat ul li{
		display: inline;
		padding: 5px 5px 5px 5px;
		width: 100;
		float: left;
		width: 30%;
		list-style-type: none;
	}
	
	.nav-bar-democrat ul span{
		display: none;
	}

	.inner-news-block{
		float: left;
		width: 33%;
	}
		
	.news-box, .news-description{
		height: 380px;
	}
	
	.news-description{
		font-size: 90%;
		padding: 125px 5px 0px 5px;
		font-size: .8em;
	}
	
	.news-box .button{
		padding: 5px;
		width: 120px;
	}

	.news-block .btn-view-more, .news-block .btn-view-more:after{
		margin-left: 30%;
	}
	
	.feature-row .feature-box .feature-inner-box img{
		display: none;
	}
	
	.feature-row .feature-box .feature-inner-box .feature-description{
		width: 100%;
		font-size: .9em;
		padding: 20px 10px 20px 10px;
		margin: 0;
	}
	
	.section-col, .section-box{
		height: 150px;
		font-size: .9em;
	}
}

@media (max-width: 479px){
	.row .nav-bar-democrat ul li{
		display: inline;
		padding: 5px 5px 5px 5px;
		width: 100;
		float: left;
		width: 100%;
		list-style-type: none;
	}
	
	.nav-bar-democrat ul span{
		display: none;
	}

	.inner-news-block{
		float: left;
		width: 33%;
	}
	
	.news-box > a img{
		display: none;
	}
		
	.news-box, .news-description{
		height: 380px;
	}
	
	.news-description{
		font-size: 90%;
		padding: 20px 5px 0px 5px;
		font-size: .8em;
	}
	
	.news-box .button{
		padding: 5px;
		width: 120px;
	}

	.news-block .btn-view-more, .news-block .btn-view-more:after{
		margin-left: 30%;
	}
	
	.feature-row .feature-box .feature-inner-box img{
		display: none;
	}
	
	.feature-row .feature-box .feature-inner-box .feature-description{
		width: 100%;
		font-size: .9em;
		padding: 20px 10px 20px 10px;
		margin: 0;
	}
	
	.section-col, .section-box{
		height: 150px;
		font-size: .9em;
	}
}