/************************************************** Large devices **************************************************/

@media (min-width: 1200px){
	.menu-btn-burger{
		display: none;
	}

	.menu .menu-btn-account, .menu-btn-burger-inner, .li-search-small{
		display: none;
	}

	.title-bar{
		height: 22vh;
	}

	.editorial{
		height: 350vh;
	}

	.editorial .content{
		height: 340vh;	
	}

	.usersSubmission{
		height: 97vh;
	}

}


/************************************************** Medium devices **************************************************/

@media (min-width: 992px) and (max-width: 1199px){


	.institution-profile{
		height: 250vh;
	}
	.newCollection .row-main .header, .submission .row-main .header{
		height: 12vh;
	}

	.newCollection .row-main .header .col-title, .submission .row-main .header .col-title{
		padding: 0 10px;
		font-size: .9em;
	}

	.newCollection .row-main .header .col-btn-grp{
		padding: 15px 5px;
	}

	.newCollection .row-main .row-title-input, .submission .row-main .row-title-input{
		width: 80%;
	}

	.newCollection .row-main .row-title-input input{
		font-size: : .8em;
	}

	.newCollection .row-main .header .col-btn-grp button{
		width: 60px;
		font-size: .6em;
	}

	.submission .row-main .header .col-btn-grp button{
		width: 45%;
	}

	.newCollection .row-main .image-block{
		width: 25%;
	}

	.newCollection .row-main .image-block .image-box .btnUpload{
		width: 36%;
	}

	.edit-profile{
		height: 180vh;
	}

	.edit-profile .row-signup .side{
		width: 10%;
	}

	.edit-profile .row-signup .center{
		width: 80%;
		height: 155vh;
		display: block;
	}

	.edit-profile .row .row-signup .col{
		height: 180vh;
	}

	.history, .institution-profile{
		height: 190vh;
	}

	.institution-profile .content .row-top{
		height: 28vh;
	}

	.history .content, .institution-profile .content{
		height: 170vh;
	}

	.constitutionAndByLaws{
		height: 600vh;
	}

	.constitutionAndByLaws .content{
	height: 580vh;
	}

	#search{
		font-size: 13px;
		width: 90px;
		
	}
	
	#search:focus{
		width: 230px;
	}
	
	.menu-btn-burger, .li-search-small{
		display: none;
	}

	.menu .menu-btn-account, .menu-btn-burger-inner{
		display: none;
	}	
	
	/*News Contents*/
	
	.news-block, .feature-block{
		height: 1800px;
	}
	
	.news-latest .col-6 .nh-content, .feat-latest .col-6 .fh-content{
		height: 520px;
		padding: 10px 15px;
	}
	
	.news-latest .col-6 .nh-content .nh-img, .news-latest .col-6 .nh-content .nh-img .nh-inside-img,
	.feat-latest .col-6 .fh-content .fh-img, .feat-latest .col-6 .fh-content .fh-img .fh-inside-img
	{
		height: 170px;
	}
	
	.news-latest .col-6 .nh-content .nh-img .nh-inside-img, 
	.feat-latest .col-6 .fh-content .fh-img .fh-inside-img{
		padding: 0px 15px;
	}
	
	.news-latest .col-6 .nh-content .nh-desc h4,
	.feat-latest .col-6 .fh-content .fh-desc h4
	{
		padding-top: 8px;
	}
	
	.news-latest .col-6 .nh-content .nh-desc p,
	.feat-latest .col-6 .fh-content .fh-desc p
	{
		font-size: 12px;
	}
	
	/* Feature block */
	
	.feature-block .h-feature-header h2, .feature-block .h-feature-header h2 a{
		font-size: 140%;
	}
	
	.feature-block .h-feature-header{
		padding: 17px 60% 17px 17px;
		height: 80px;
	}
	
	.h-feat-col-2{
		margin-top: 15px;
	}
	
	
	footer{
		height: 300px;
		font-size: 13px;
	}


	footer .col-1-content .pp{
		font-size: 12px;
	}

	footer .col-4{
		width: 33%;
	}

	.social-icons{
		padding: 20px 0px;
		width: 100%;
	}

	.social-icons div{
		width: 15%;
	}

	.social-icons div img{
		width: 30px;
		height: 30px;
	}

	.login-block{
		margin: 10% auto 3% auto;
		width: 40%;
		padding: 20px 40px;
		z-index: 1;
	}

	.login-block input{
		z-index: 3;
		font-size: 1em;
	}

	.sign-up-link{
		position: absolute;
		bottom: 10px;
		left: 30%;
		color: red;
		text-decoration: underline;
	}

}



/************************************************** Small devices **************************************************/
@media (min-width: 768px) and (max-width: 991px){
	.usersSubmission{
		height: 125vh;
	}

	.institution-profile{
		height: 260vh;
	}
	.newCollection .row-main .header , .submission .row-main .header{
		height: 8vh;
	}

	.newCollection .row-main .header .col-title, .submission .row-main .header .col-title{
		padding: 0 10px;
		font-size: .9em;
	}

	.submission .row-main .header .col-title h2{
		width: 70%;
		font-size: .9em;
	}

	.newCollection .row-main .header .col-btn-grp{
		padding: 15px 5px;
	}

	.newCollection .row-main .row-title-input, .submission .row-main .row-title-input{
		width: 80%;
	}

	.newCollection .row-main .row-title-input input{
		font-size: : .8em;
	}

	.newCollection .row-main .header .col-btn-grp button{
		width: 60px;
		font-size: .6em;
	}

	.submission .row-main .header .col-btn-grp button{
		width: 46%;
		font-size: .7em;
	}

	.newCollection .row-main .image-block{
		width: 33.33%;
	}

	.newCollection .row-main .image-block .image-box .btnUpload{
		width: 36%;
	}

	.edit-profile{
		height: 120vh;
	}

	.edit-profile .row-signup .side{
		width: 10%;
	}

	.edit-profile .row-signup .center{
		width: 80%;
		height: 100vh;
		display: block;
	}

	.edit-profile .row-signup .center .content-1 .row{
		height: 6vh;
	}

	.edit-profile .row .row-signup .col{
		height: 10vh;
	}

	.edit-profile .row-signup .center .row-btn-profile{
		margin: 50px 10px;
	}

	.institution-profile{
		height: 140vh;
	}
		
	.institution-profile .content{
		height: 120vh;
	}

	.institution-profile .content .row-top{
		height: 34vh;
	}

	.history{
		height: 240vh;
	}

	.history .content{
		height: 220vh;
	}

	.constitutionAndByLaws{
		height: 700vh;
	}

	.constitutionAndByLaws .content{
	height: 680vh;
	}

	.editorial{
		height: 485vh;
	}

	.editorial .content{
		height: 465vh;	
	}

	#search{
		font-size: 11px;
		width: 75px;
		
	}
	
	#search:focus{
		width: 180px;
	}
	
	.menu-btn-burger, .menu-btn-burger-inner, .li-search-small{
		display: none;
	}

	.t-elem-1, .t-elem-2, .t-elem-3{
		margin-top: 10px;
	}

	.t-elem-2 h1{
		font-size: 130%;
	}

	.title{
		height: 45px;
	}

	img.logo-1, img.logo-2{
		width: 30px;
		height: 30px;
	}

	.link-effect{
		width: 50px;
		height: 18px;
		padding: 10px;
		color: #282828;
		font-size: 13px;
	}

	.menu{
		height: 25px;
	}

	.nav-menu ul > li{
		width: 16%;
		padding: 0;
		font-size: 100%;
	}

	.asterisk{
		display: none;
	}

	.inner-menu-sections{
		min-width: 130px;
	}

	.inner-menu li a{
		font-size: .8em;
	}

	.menu .menu-btn-account{
		display: none;
	}

	.title-bar{
		width: 100%;
		height: 15vh;
	}

	.da-slider{
		height: 85vh;
	}

	.slideshow .da-slide h2{
		bottom: 55%;
	}

	.slideshow .da-slide p{
		font-size: 15px;
		width: 60%;
		bottom: 26%;
	}

	.slideshow .da-slide .da-link{
		font-size: 14px;
		bottom: 15%;
	}
	
	.news-block{
		height: 3000px;
	}
	.news-latest .col-12{
		width: 100%;
	}
	
	.news-latest .col-6 .nh-content{
		height: 435px;
	}
	
	/* Feature Block*/
	
	.feature-block .h-feature-header h2, .feature-block .h-feature-header h2 a{
		font-size: 130%;
	}
	
	.feature-block .h-feature-header{
		padding: 14px 60% 14px 14px;
		height: 70px;
	}
	
	.feature-block{
		height: 3000px;
	}
	.feat-latest .col-12{
		width: 100%;
	}
	
	.feat-latest .col-6 .fh-content{
		height: 435px;
	}
	
	footer{
		height: 400px;
		font-size: 13px;
	}


	footer .col-1-content .pp{
		font-size: 12px;
	}

	footer .col-6{
		width: 50%;
	}
	
	footer .col-12{
		width: 100%;
		text-align: center;
	}

	.social-icons{
		padding: 20px 0px;
		width: 100%;
	}

	.social-icons div{
		width: 20%;
	}

	.social-icons div img{
		width: 30px;
		height: 30px;
	}

	/*********** Login and Sign up*************/

	.col-side{
		width: 20%;
	}

	.col-center{
		width: 60%;
	}

	.col-center form{
		padding: 8px;
	}

	.col-center form .error-block{
		height: 5vh;
		font-size: .9em;
	}

	.col-center form input{
		font-size: 1em;
		margin-bottom: 8px;
	}

	hr{
		left: 16%;
		width: 70%;
	}

	.submit-button{
		width: 150px;
		height: 30px;
	}

	.submit-button-mtop{
		margin: 20px 0px 20px;
	}
}


/************************************************** Extra small devices **************************************************/
@media (min-width: 480px) and (max-width: 767px){
	.usersSubmission{
		height: 135vh;
	}

	.institution-profile{
		height: 250vh;
	}
	.newCollection .row-main .header{
		height: 12vh;
	}

	.submission .row-main .header{
		padding: 10px;
	}

	.submission .row-main .header .col-title .underline{
		margin: 0px;
		width: 80%;
	}

	.submission .row-main .header .col-title h2{
		width: 90%;
		font-size: .9em
	}

	.newCollection .row-main .header .col-title{
		padding: 0 10px;
		font-size: .9em;
	}

	.newCollection .row-main .header .col-btn-grp{
		padding: 15px 5px;
	}

	.submission .row-main .header .col-btn-grp{
		padding-top: 5px;
	}

	.newCollection .row-main .row-title-input, .submission .row-main .row-title-input{
		width: 80%;
	}

	.newCollection .row-main .row-title-input input{
		font-size: : .8em;
	}

	.submission .row-main .row-title-input input{
		font-size: .7em
	}

	.submission .row-main .row-para{
		width: 80%;
	}

	.submission .row-btn-profile button{
		font-size: .8em;
		width: 60%;
		margin: 0;
	}

	.newCollection .row-main .header .col-btn-grp button{
		width: 60px;
		font-size: .6em;
	}

	.submission .row-main .header .col-btn-grp{
		padding: 0;
	}

	.submission .row-main .header .col-btn-grp button{
		width: 40%;
		font-size: .6em;	
	}

	.newCollection .row-main .image-block{
		width: 50%;
	}

	.newCollection .row-main .image-block .image-box .btnUpload{
		width: 36%;
	}

	.edit-profile{
		height: 120vh;
	}

	.edit-profile .row-signup .side{
		width: 5%;
	}

	.edit-profile .row-signup .center{
		width: 90%;
		height: 100vh;
		display: block;
	}

	.edit-profile .row-signup .center .content-1 .row{
		height: 6vh;
	}

	.edit-profile .row .row-signup .col{
		height: 10vh;
	}

	.edit-profile .row-signup .center .row-btn-profile{
		margin: 50px 10px;
	}

	.institution-profile{
		height: 190vh;
	}
		
	.institution-profile .content{
		height: 170vh;
	}

	.institution-profile .content .row-top{
		height: 47vh;
	}

	.history{
		height: 340vh;
	}

	.history .content{
		height: 320vh;
	}

	.history .content .row-top{
		height: 55vh;
	}

	.constitutionAndByLaws{
		height: 1080vh;
	}

	.constitutionAndByLaws .content{
	height: 1060vh;
	}

	.editorial{
		height: 655vh;
	}

	.editorial .content{
		height: 635vh;	
	}

	.search-small{
		display: none;
	}
	
	.li-search-small div, .li-search-small div:focus, 
	.li-search-small div #search-small:focus, .li-search-small div #search-small:hover{
		padding: 0px 20px 0px 10px;
	}
	
	.li-search-small div #search-small, .li-search-small div{
		width: 100%;
	}
	
	.li-search-small div #search-small:focus{
		color: red;
	}
	
	img.logo-1, img.logo-2{
		width: 30px;
		height: 30px;
	}

	.t-elem-1, .t-elem-3{
		width: 28%;
	}

	.t-elem-2{
		width: 44%;
	}

	.t-elem-2 h1{
		margin-top: 2px;
		font-size: 130%;
	}

	.menu-btn-burger img{
		width: 25px;
		height: 25px;
		cursor: pointer;
	}

	.title{
		height: 60px;
	}

	.asterisk{
		display: none;
	}

	.link-account .link-effect-tablet{
		display: none;
	}

	.nav-menu .menu-btn-burger{
		display: block;
		width: 100%;
		text-align: center;
		background-color: #2b2b2b;
		height: 27px;
		border-bottom: 1px solid gray;
	}

	/* Resets property */
	.nav-link-effect, .nav-link-effect:visited, .nav-link-effect:hover, .nav-link-effect:active{
		padding: 0;
		-webkit-backface-visibility: visible !important;
		-moz-backface-visibility: visible !important;
		-o-backface-visibility: visible !important;
		-ms-backface-visibility: visible !important;
		backface-visibility: visible !important;
		position: static !important;
		transition: none !important;
		color: inherit !important;
	} 

	.nav-link-effect:hover{
		color: inherit !important;
	}

	.nav-before:before, .nav-after:after{
		content: normal !important;
		transition: none !important;
		-webkit-backface-visibility: visible !important;
		-moz-backface-visibility: visible !important;
		-o-backface-visibility: visible !important;
		-ms-backface-visibility: visible !important;
		backface-visibility: visible !important;
		position: static !important;
	}

	.nav-before:before{ top: auto !important; }
	.nav-after:after{ bottom: auto !important; }

	.nav-before:before, .nav-after:after{
		height: auto !important;
		width: auto !important;
		background: 0 !important;
	}

	.nav-link-effect:before{ right: auto !important; }
	.nav-link-effect:after{ left: auto !important; }
	.nav-before:hover:before, .nav-after:hover:after{
		width: auto !important;
	}

	.dropdown{
		position: relative !important;
	}

	.inner-menu{
		display: block !important;
		position: relative !important;
		background-color: 0 !important;
		min-width: auto !important;
		padding: 0 !important;
		box-shadow: 0 !important;
	}

	.dropdown:hover .inner-menu {
	    display: block !important;
	}

	.inner-menu li a{
		display: block !important;
		padding: none !important;
		font-size: none !important;
	}

	.inner-menu li{
		width: 100% !important;
		color: 0 !important;
		display: none !important;
	}

	.inner-menu a:hover {
		background-color: 0 !important;
		font-weight: normal !important;
		color: 0 !important;
	}

	.menu-btn-burger ~ .menu{
		display: none;
	}

	.menu-btn-burger:hover ~ .menu, .menu-btn-burger:active ~ .menu, .menu:hover, .menu:active{
		transition: 0.8s color ease;
		display: block;
	}

	.menu .menu-btn{
		display: block;
		width: 100%;
		background-color: #2b2b2b;
		padding: 5px 0px;
		border-bottom: 1px solid gray;
		color: white;
		text-align: left;
	}

	.menu{
		margin: 0;
		padding: 0;
		z-index: 9999;
	}

	.nav-menu ul > li{
		position: relative;
		font-size: 75%;
		z-index: 9999;
	}

	.nav-menu ul > li a{
		padding-left: 10px;
		vertical-align: middle;
	}

	.nav-menu ul > li .nav-link-effect{
		padding-top: 10px;
	}

	.nav-menu ul > li:hover{
		transition: 0.3s ease;
		background-color: white;
		color: red;
	}

	.menu-btn-burger-inner .burger-btn-hover, .menu-btn-burger-inner .burger-btn-unhover{
		float: right;
	}

	.menu-btn-burger-inner .burger-btn-hover{
		transition: 0.3s ease;
		display: none;
	}

	.nav-menu ul > li:hover .menu-btn-burger-inner .burger-btn-hover{
		transition: 0.3s ease;
		display: block;
	}

	.nav-menu ul > li:hover .menu-btn-burger-inner .burger-btn-unhover{
		transition: 0.3s ease;
		display: none;
	}

	.nav-menu ul li ul li, .nav-menu ul li ul li{
		height: 20px;
	}

	.inner-menu li a{
		font-size: 130%;
		padding: 2px;
	}

	.menu-btn-burger-inner img{
		width: 13px;
		height: 13px;
		margin-right: 20px;
		margin-top: 0px;
	}


	.menu li .nav.link-effect{
		float: left;
		width: 80%;
	}

	.menu li .menu-btn-burger-inner{
		float: right;
		width: 20%;
		text-align: right;
	}

	.dropdown .inner-menu{
		display: none !important;
	}


	.dropdown:hover .inner-menu {
	    display: block !important;
	}

	.inner-menu li a{
		display: block !important;
		padding: none !important;
		font-size: none !important;
	}

	.inner-menu li{
		width: 100% !important;
		color: 0 !important;
		display: block !important;
	}	

	.title-bar{
		width: 100%;
		height: 15vh;
	}

	.da-slider{
		height: 85vh;
	}

	.slideshow .da-slide h2{
		font-size: 30px;
		bottom: 64%;
	}

	.slideshow .da-slide p{
		font-size: 15px;
		width: 80%;
		bottom: 26%;
	}

	.slideshow .da-slide .da-link{
		font-size: 13px;
		bottom: 15%;
	}
	
	.news-col-2, .twitter-timeline{
		display: none;
	}
	
	.news-col-1{
		width: 100%;
	}
	
	.news-block{
		height: 2600px;
	}
	.news-latest .col-12,.feat-latest .col-12{
		width: 100%;
	}
	
	.news-latest .col-6 .nh-content, .feat-latest .col-6 .fh-content{
		height: 370px;
		padding: 8px;
	}
	
	.news-latest .col-6 .nh-content .nh-img, .news-latest .col-6 .nh-content .nh-img .nh-inside-img,
	.feat-latest .col-6 .fh-content .fh-img, .feat-latest .col-6 .fh-content .fh-img .fh-inside-img
	{
		height: 130px;
	}
	
	.news-latest .col-6 .nh-content .nh-img .nh-inside-img,
	.feat-latest .col-6 .fh-content .fh-img .fh-inside-img
	{
		padding: 0px 15px;
	}
	
	.news-latest .col-6 .nh-content .nh-desc h4,
	.feat-latest .col-6 .fh-content .fh-desc h4
	{
		padding-top: 5px;
	}
	
	.news-latest .col-6 .nh-content .nh-desc p,
	.news-latest .col-6 .nh-content .nh-desc p
	{
		text-align: justify;
		font-size: 12px;
	}
	
	.nh-content .button, .nh-content .button,
	.fh-content .button, .fh-content .button
	{
		padding: 7px;
		width: 120px;
		font-size: 13px;
	}
	
	/* Feature Block */
	.feature-block{
		height: 2600px;
	}
	
	
	.feature-block .h-feature-header h2, .feature-block .h-feature-header h2 a{
		font-size: 120%;
	}
	
	.feature-block .h-feature-header{
		padding: 12px 60% 12px 12px;
		height: 60px;
	}
	
	.h-feat-col-1{
		width: 100%;
	}
	
	.h-feat-col-2{
		display: none;
	}
	
	
	footer{
		height: 600px;
		font-size: 13px;
	}

	footer .col-1-content .pp{
		font-size: 12px;
	}
	
	footer .col-12{
		width: 100%;
		text-align: center;
	}

	.social-icons{
		padding: 20px 0px;
		width: 100%;
	}

	.social-icons div{
		width: 20%;
	}

	.social-icons div img{
		width: 30px;
		height: 30px;
	}


	/*********** Login and Sign up*************/
	.main-content header, .main-content header h2, .row-signup, .col, .col-center, .col-side, hr, .col-center form{		
		z-index: 1;

	}

	.col-side{
		width: 15%;
	}

	.col-center{
		width: 70%;
	}

	hr{
		left: 8%;
		width: 85%;
	}

	.col-center form{
		padding: 8px;
	}

	.col-center form .error-block{
		height: 5vh;
		font-size: .8em;
	}

	.col-center form input{
		font-size: .9em;
		margin-bottom: 8px;
	}

	.submit-button{
		width: 150px;
		height: 30px;
	}

	.submit-button-mtop{
		margin: 20px 0px 20px;
	}


}



/************************************************** Super extra small devices **************************************************/
@media (max-width: 479px){
	.institution-profile{
		height: 250vh;
	}
	.newCollection .row-main .header{
		height: 12vh;
	}

	.newCollection .row-main .header .col-title{
		padding: 0 10px;
		font-size: .9em;
	}

	.newCollection .row-main .header .col-btn-grp{
		padding: 15px 5px;
	}

	.newCollection .row-main .row-title-input{
		width: 80%;
	}

	.newCollection .row-main .row-title-input input{
		font-size: : .8em;
	}

	.newCollection .row-main .header .col-btn-grp button{
		width: 60px;
		font-size: .6em;
	}

	.newCollection .row-main .image-block{
		width: 50%;
	}

	.newCollection .row-main .image-block .image-box .btnUpload{
		width: 36%;
	}
		
	.institution-profile .content{
		height: 220vh;
	}

	.institution-profile .content .row-top{
		height: 52vh;
	}

	.history{
		height: 440vh;
	}

	.history .content{
		height: 420vh;
	}

	.history .content .row-top{
		height: 65vh;
	}
	.constitutionAndByLaws{
		height: 1380vh;
	}

	.constitutionAndByLaws .content{
	height: 1360vh;
	}

	.editorial{
		height: 685vh;
	}

	.editorial .content{
		height: 670vh;	
	}

	.search-small{
		display: none;
	}
	
	.search-small{
		display: none;
	}
	
	.li-search-small div, .li-search-small div:focus, 
	.li-search-small div #search-small:focus, .li-search-small div #search-small:hover{
		padding: 0px 20px 0px 10px;
	}
	
	.li-search-small div #search-small, .li-search-small div{
		width: 100%;
	}
	
	.li-search-small div #search-small:focus{
		color: red;
	}
	
	img.logo-1, img.logo-2{
		display: none;
	}

	.t-elem-1, .t-elem-3{
		display: none;
	}

	.t-elem-2{
		margin-top: 5px;
		width: 100%;
	}

	.t-elem-2 h1{
		margin-top: 2px;
		font-size: 130%;
	}

	.menu-btn-burger img{
		width: 25px;
		height: 25px;
		cursor: pointer;
	}

	.title{
		height: 40px;
	}

	.asterisk{
		display: none;
	}

	.link-account .link-effect-tablet{
		display: none;
	}

	.nav-menu .menu-btn-burger{
		display: block;
		width: 100%;
		text-align: center;
		background-color: #2b2b2b;
		height: 27px;
		border-bottom: 1px solid gray;
	}

	/* Resets property */
	.nav-link-effect, .nav-link-effect:visited, .nav-link-effect:hover, .nav-link-effect:active{
		padding: 0;
		-webkit-backface-visibility: visible !important;
		-moz-backface-visibility: visible !important;
		-o-backface-visibility: visible !important;
		-ms-backface-visibility: visible !important;
		backface-visibility: visible !important;
		position: static !important;
		transition: none !important;
		color: inherit !important;
	} 

	.nav-link-effect:hover{
		color: inherit !important;
	}

	.nav-before:before, .nav-after:after{
		content: normal !important;
		transition: none !important;
		-webkit-backface-visibility: visible !important;
		-moz-backface-visibility: visible !important;
		-o-backface-visibility: visible !important;
		-ms-backface-visibility: visible !important;
		backface-visibility: visible !important;
		position: static !important;
	}

	.nav-before:before{ top: auto !important; }
	.nav-after:after{ bottom: auto !important; }

	.nav-before:before, .nav-after:after{
		height: auto !important;
		width: auto !important;
		background: 0 !important;
	}

	.nav-link-effect:before{ right: auto !important; }
	.nav-link-effect:after{ left: auto !important; }
	.nav-before:hover:before, .nav-after:hover:after{
		width: auto !important;
	}

	.dropdown{
		position: relative !important;
	}

	.inner-menu{
		display: block !important;
		position: relative !important;
		background-color: 0 !important;
		min-width: auto !important;
		padding: 0 !important;
		box-shadow: 0 !important;
	}

	.dropdown:hover .inner-menu {
	    display: block !important;
	}

	.inner-menu li a{
		display: block !important;
		padding: none !important;
		font-size: none !important;
	}

	.inner-menu li{
		width: 100% !important;
		color: 0 !important;
		display: none !important;
	}

	.inner-menu a:hover {
		background-color: 0 !important;
		font-weight: normal !important;
		color: 0 !important;
	}

	.menu-btn-burger ~ .menu{
		display: none;
	}

	.menu-btn-burger:hover ~ .menu, .menu-btn-burger:active ~ .menu, .menu:hover, .menu:active{
		transition: 0.8s color ease;
		display: block;
	}

	.menu .menu-btn{
		display: block;
		width: 100%;
		background-color: #2b2b2b;
		padding: 5px 0px;
		border-bottom: 1px solid gray;
		color: white;
		text-align: left;
	}

	.menu{
		margin: 0;
		padding: 0;
		z-index: 99;
	}

	.nav-menu ul > li{
		position: relative;
		font-size: 75%;
		z-index: 99;
	}

	.nav-menu ul > li a{
		padding-left: 10px;
		vertical-align: middle;
	}

	.nav-menu ul > li .nav-link-effect{
		padding-top: 10px;
	}

	.nav-menu ul > li:hover{
		transition: 0.3s ease;
		background-color: white;
		color: red;
	}

	.menu-btn-burger-inner .burger-btn-hover, .menu-btn-burger-inner .burger-btn-unhover{
		float: right;
	}

	.menu-btn-burger-inner .burger-btn-hover{
		transition: 0.3s ease;
		display: none;
	}

	.nav-menu ul > li:hover .menu-btn-burger-inner .burger-btn-hover{
		transition: 0.3s ease;
		display: block;
	}

	.nav-menu ul > li:hover .menu-btn-burger-inner .burger-btn-unhover{
		transition: 0.3s ease;
		display: none;
	}

	.nav-menu ul li ul li, .nav-menu ul li ul li{
		height: 20px;
	}

	.inner-menu li a{
		padding: 2px;
	}

	.menu-btn-burger-inner img{
		width: 13px;
		height: 13px;
		margin-right: 20px;
		margin-top: 0px;
	}


	.menu li .nav.link-effect{
		float: left;
		width: 80%;
	}

	.menu li .menu-btn-burger-inner{
		float: right;
		width: 20%;
		text-align: right;
	}

	.dropdown .inner-menu{
		display: none !important;
	}


	.dropdown:hover .inner-menu {
	    display: block !important;
	}

	.inner-menu li a{
		display: block !important;
		padding: none !important;
		font-size: none !important;
	}

	.inner-menu li{
		width: 100% !important;
		color: 0 !important;
		display: block !important;
	}

	.title-bar{
		width: 100%;
		height: 11vh;
	}

	.da-slider{
		height: 89vh;
	}

	.slideshow .da-slide h2{
		font-size: 26px;
		bottom: 75%;
	}

	.slideshow .da-slide p{
		font-size: 12px;
		width: 80%;
		bottom: 24%;
	}

	.slideshow .da-slide .da-link{
		font-size: 12px;
		bottom: 14%;
	}
	
	.slideshow .da-slide .da-link{
		font-size: 13px;
		bottom: 15%;
	}
	
	/*News Content*/
	
	.news-col-2, .twitter-timeline{
		display: none;
	}
	
	.news-col-1{
		width: 100%;
	}
	
	.news-block, .feature-block{
		height: 2550px;
	}
	.news-latest .col-12, .feat-latest .col-12{
		width: 100%;
	}
	
	.news-latest .col-6 .nh-content,
	.feat-latest .col-6 .fh-content
	{
		height: 370px;
		padding: 3px;
	}
	
	.news-latest .col-6 .nh-content .nh-img, .news-latest .col-6 .nh-content .nh-img .nh-inside-img,
	.feat-latest .col-6 .fh-content .fh-img, .feat-latest .col-6 .fh-content .fh-img .fh-inside-img
	{
		height: 100px;
	}
	
	.news-latest .col-6 .nh-content .nh-img .nh-inside-img,
	.feat-latest .col-6 .fh-content .fh-img .fh-inside-img
	{
		padding: 0px 20px;
	}
	
	.news-latest .col-6 .nh-content .nh-desc h4,
	.feat-latest .col-6 .fh-content .fh-desc h4
	{
		padding-top: 3px;
	}
	
	.news-latest .col-6 .nh-content .nh-desc p,
	.feat-latest .col-6 .fh-content .fh-desc p
	{
		text-align: justify;
		font-size: 11px;
	}
	
	.nh-content .button,
	.fh-content .button
	{
		padding: 7px;
		width: 120px;
		font-size: 12px;
	}
	
	/* Feature Block */
	
	.feature-block .h-feature-header h2, .feature-block .h-feature-header h2 a{
		font-size: 110%;
	}
	
	.feature-block .h-feature-header{
		padding: 8px 60% 8px 8px;
		height: 50px;
	}
	
	.h-feat-col-1{
		width: 100%;
	}
	
	.h-feat-col-2{
		display: none;
	}
	
	
	footer{
		height: 600px;
		font-size: 13px;
	}

	footer .col-1-content .pp{
		font-size: 12px;
	}
	
	footer .col-12{
		width: 100%;
		text-align: center;
	}

	.social-icons{
		padding: 20px 0px;
		width: 100%;
	}

	.social-icons div{
		width: 20%;
	}

	.social-icons div img{
		width: 30px;
		height: 30px;
	}

	.main-content header, .main-content header h2, .row-signup, .col, .col-center, .col-side, hr, .col-center form{		
		z-index: -9999;

	}

	.col-side{
		width: 10%;
	}

	.col-center{
		width: 80%;
	}

	hr{
		left: 10%;
		width: 80%;
	}

	.col-center form{
		padding: 8px;
	}

	.col-center form .error-block{
		height: 5vh;
		font-size: .8em;
	}

	.col-center form input{
		font-size: .9em;
		margin-bottom: 8px;
	}

	.submit-button{
		width: 130px;
		height: 25px;
	}

	.submit-button-mtop{
		margin: 18px 0px 18px;
	}


}